--extra-index-url https://download.pytorch.org/whl/cu118 # for older drivers on mseas cluster...
gitpython
logging
pyyaml
jinja2
schema
gputil

h5py
torch
lightning
wandb
numpy
pykeops
einops
matplotlib
holoviews
jupyter-bokeh
# numba
# opencv-python
ffmpeg-python
jpcm
# mpld3
plotly